@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* CodeMirror custom styles */
.cm-editor {
  border: 1px solid #374151 !important;
  border-radius: 0.375rem !important;
}

.cm-scroller {
  font-size: 14px !important;
}
